@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900');

body {
  margin: 0;
  padding: 0;
  background-color: #111118;
  transition: background-color 1s ease;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  color: #ffffff;
  text-align: center;
  line-height: 100px;
  font-family: Fira Sans;
  font-size: 80px;
  margin: 0;
  padding: 0;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 100px;
}

div {
  font-weight: 100;
  transform: scale(0.2);
  /*   transition: transform 0.75s; */
}

.redname {
  color: #FF2255;
}

ul {
  font-family: 'Roboto', sans-serif;
  z-index: 8;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

li {
  text-align: center;
  display: inline-block;
  margin: 5px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 2px solid white;
}

li a:hover:not(.active) {
  color: #FF2255;
  border-color: #FF2255;
}

.active {
  color: #FF2255;
  border-color: #FF2255;
}
